* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 850px;
    background-image: url(https://harypham97.github.io/template-bootstrap/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0% 15%;
}

.signin {
    text-align: right;
    padding-top: 43px;
}

.link1,
.link2 {
    text-decoration: none;
    margin-right: 15px;
    font-size: 15px;
}

.link1 {
    color: black;
}

.link2 {
    color: #8bc34a;
    border: solid #8bc34a;
    border-radius: 15px;
    padding: 5px 10px;
}

.title {
    width: 100%;
    height: 300px;
    text-align: center;
}

.img {
    margin-top: 170px;
}

.icon i {
    margin-bottom: 10px;
}

.icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.icon1,
.icon2,
.icon3 {
    width: 33%;
    text-align: center;
    font-size: 30px;
}

.text {
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
}

.start {
    text-align: center;
}

.start button {
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
    cursor: pointer;
}